{% extends 'blog/base.html' %}
{% load i18n %}
{% block content %}
{% load hitcount_tags %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
        {{message}}
</div>
{% endfor %}
{% endif %}

<h2 class="mb-4">{% translate "Search results for: " %}{{request.GET.q}}</h2>

{% for post in posts %}
<div class="container limit border p-3 mb-3">
    <img class="img-fluid rounded-circle border m-2 mb-3" style="width: 70px; height:70px;"
        src="{{post.author.profile.image.url}}" alt="{% translate "Profile picture" %}">
    <div class="mt-3" style="display: inline-block;">
	    <div style="display: block;">
		    <span class="text-secondary">
            {% translate "Posted on: " %}{{post.post_date|date:'d-m-Y'}}
            </span>
		</div>
		<div style="display: block;">
			<span class="text-secondary mt-2">{% translate "Views: " %}{% get_hit_count for post %}</span>
		</div>
	</div>

    <h3><a class="text-dark" href="{% url 'detail' post.id %}">
    {{post.title}}
    </a></h3>
    <p>
    {{post.content|truncatewords:50}}
    <a href="{% url 'detail' post.id %}">... {% translate "More" %}</a></p>
    <span class="text-secondary">{% translate "Category: " %}<a class="text-dark" href="{% url 'category' post.category.slug %}">
    {{post.category.title}}
    </a></span>
</div>
{% empty %}
<div class="border p-3 mb-3">
    <h3>{% translate "There are no blog posts matching your search results." %}</h3>
</div>
{% endfor %}



{% include 'blog/pagination.html' with page=posts %}

{% endblock content %}